<section class="container">
    <h2 class="center">Quiz Maker</h2>
    <section class="create-quiz center">
        <div class="select-section">
            <select id="categorySelect" name="category" [(ngModel)]="selectedCategory" (ngModelChange)="dropdownUpdated()">
                <option  [ngValue]="0" >Select Category</option>
                <option id="category-{{i}}" *ngFor="let cat of categories; index as i" [ngValue]="cat.id">{{cat.name}}</option>
              </select>
        </div>
        <div class="select-section">
            <select id="difficultySelect" name="difficulty-level" [(ngModel)]="selectedDifficultyLevel" (ngModelChange)="dropdownUpdated()">
                <option [ngValue]="''" >Select Difficulty</option>
                <option *ngFor="let level of difficultyLevels | keyvalue : returnZero" [ngValue]="level.value">
                    {{level.key}}
                </option>
              </select>
        </div>
        <button id="createBtn" class="btn" [disabled]="disabledQuizCreateBtn" (click)="createQuiz()">Create</button>
    </section>
</section>
<section class="center">
    <section>
        <ul class="question-list" *ngFor="let quiz of quizList; trackBy:trackByIndex">
            <li>
                <p [innerHtml]="quiz.question"></p>
                <span *ngFor="let option of quiz.answerDisplayed; index as i">
                    <button class="btn" [ngClass]="{'correct-selected': option.isSelected }" (click)="selectAnswer(i, option, quiz)" [innerHtml]="option.answer"></button>
                </span>
            </li>
        </ul>
    </section>
    <section>
        <button id="quizSubmitBtn" class="btn submit-btn" *ngIf="selectedAnswersCounter === questionDisplayCount" (click)="submitQuiz()">Submit</button>
    </section>
</section>