/* You can add global styles to this file, and also import other style files */
.center {
    text-align: center;
}

.select-section {
    width: 30%;
    display: contents;
}

select {
    padding: 3px 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    margin-right: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 275px;
    :focus{
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

.btn {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: .25rem;
    margin-right: 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
    :hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }
}

button:disabled, .btn:disabled {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
    cursor: not-allowed;
}

.correct-selected {
    background-color: #2ea44f;
    border-color: #2ea44f;
    color: #fff;
}

.incorrect-selected {
    background-color: red;
    border-color: red;
    color: #fff;
}

.question-list {
    list-style-type: none;
}

.submit-btn {
    width: 300px;
    color: #fff;
    border-color: #726e6e;
    background-color: #726e6e;
}

.quiz-score {
    margin: 20px 0px;
    padding: 4px 8px;
    width: 30%;
    display: inline-block;
    background-color: red;
}

.new-quiz {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    width: 45%;
    display: inline-block;
    background-color: grey;
}